---
// biome-ignore-start lint/correctness/noUnusedImports: fix with support for .astro files
// biome-ignore-start lint/correctness/noUnusedVariables: fix with support for .astro files
import BaseLayout from "../layouts/BaseLayout.astro";
import MailboxIcon from "@lucide/astro/icons/mailbox";
import SendIcon from "@lucide/astro/icons/send";
// biome-ignore-end lint/correctness/noUnusedVariables: fix with support for .astro files
// biome-ignore-end lint/correctness/noUnusedImports: fix with support for .astro files
---

<BaseLayout>
	<div class="text-center text-dark dark:text-light">
		<MailboxIcon size={164} stroke-width={1} aria-hidden="true" />
		<h1 class="font-bold text-xl sm:text-2xl md:text-3xl mt-6">Melde dich einfach bei uns!</h1>
		<p class="text-lg mt-6 mx-auto max-w-2xl">
			Lass dich persönlich von uns beraten und erhalte eine Vorstellung über den Umfang und die Kosten deines Projektes.
		</p>
		<div class="flex items-center justify-center mt-12">
			<a 
			href="mailto:matthias.hermsen@pm.me?subject=Unverbindliche%20Anfrage"
			role="button"
			class="cursor-pointer no-underline bg-dark dark:bg-light text-light dark:text-dark hover:scale-[1.08] transition duration-300 ease-in-out flex items-center justify-center gap-4 rounded-xl px-12 py-8 w-fit"
			>
			<span class="font-semibold text-xl">Unverbindlich Kontakt aufnehmen</span>
			<SendIcon size={32} aria-hidden="true" />
				</a>
		</div>
		<div class="text-center mt-6 text-black/50 dark:text-white/50">
			Nimm bitte auch unsere
			<a href="/privacy/" class="
			no-underline 
			text-highlight
			transition 
			duration-300
			ease-in-out
			">Datenschutzerklärung</a>
			zur Kenntnis.
		</div>
	</div>
</BaseLayout>