---
// biome-ignore-start lint/correctness/noUnusedImports: fix with support for .astro files
// biome-ignore-start lint/correctness/noUnusedVariables: fix with support for .astro files
import BaseLayout from "../layouts/BaseLayout.astro";
// biome-ignore-end lint/correctness/noUnusedVariables: fix with support for .astro files
// biome-ignore-end lint/correctness/noUnusedImports: fix with support for .astro files
---

<BaseLayout>
	<div>WIP Pages:</div>
	<ul>
		<li>index</li>
		<li>services</li>
		<li>about</li>
		<li>imprint</li>
		<li>privacy</li>
	</ul>
	<div>TODOS:</div>
	<ul>
		<li>Umsatzsteuer-ID nachtragen</li>
		<li>Meta setups für pages</li>
		<li>Wir entwickeln deine App => ???</li>
		<li>Kontakt Email austauschen</li>
		<li>Impressum erweitern</li>
		<li>Impressum => Was muss rüber zu privacy?</li>
		<li>Impressum Check</li>
		<li>Datenschutz Check</li>
		<li>Lighthouse</li>
	</ul>
</BaseLayout>