---
// biome-ignore-start lint/correctness/noUnusedImports: fix with support for .astro files
// biome-ignore-start lint/correctness/noUnusedVariables: fix with support for .astro files
import BaseLayout from "../layouts/BaseLayout.astro";
// biome-ignore-end lint/correctness/noUnusedVariables: fix with support for .astro files
// biome-ignore-end lint/correctness/noUnusedImports: fix with support for .astro files
---

<BaseLayout>
	<section class="text-center mt-12 max-w-3xl mx-auto">
		<h1 class="text-3xl font-bold mt-4">Leistungen</h1>
	  </section>
</BaseLayout>